@import "_Common.scss";

.App {
  background: $white-background-body;
  padding: 7.5px 15px;
  .identifier-register{
    &-function{
      padding-top: 30px;
      padding-bottom: 30px;
      &-item{
        position: relative;
        background: $primary-color;
        width: 150px;
        height: 70px;
        padding-top: 15px;
        padding-bottom: 15px;
        z-index: 1;
        margin-bottom: 100px;
        &:after{
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          bottom: 0;
          z-index: -1;
          background: $secondary-color;
        }
        img{
          height: 100%;
          width: auto;
          margin-right: auto;
          margin-left: auto;
        }
        &.leftItem{
          transform: skewY(-15deg);
          &:after{
            transform: skewY(30deg) translateY(45px);
          }
        }
        &.rightItem{
          transform: skewY(15deg) translateX(15px) ;
          &:after{
            transform: skewY(-30deg) translateY(45px);
          }
        }
      }
    }

    &-content{
      &-intro{}
      &-camera{}
      &-btn{
        #registerByFile{}
        #registerByCapture{}
      }
    }
  }
  .identifier-find{
    &-btn{}
    &-result{}
  }
}