@import "_Common.scss";

.App {
  background: $white-background-body;
  padding: 7.5px 15px;
  .identifier-register{
    display: flex;
    &-strength{
      min-width: 100px;
      width: 200px;
    }

    &-content{
      &-intro{
        &-header{
          width: fit-content;
          position: relative;
          margin-right: auto;
          margin-left: auto;
          img{
            position: absolute;
          }
        }
        &-text{
          width: 50%;
          padding: 7.5px 15px;
          margin-left: auto;
          background: $primary-color;
          color: $white-textColor;
          font-size: 1.25rem;
        }
      }
      &-camera{
        width: 80%;
        margin-right: auto;
        margin-left: auto;
      }
      &-btn{
        text-align: center;
        #registerByFile{}
        #registerByCapture{}
      }
      @include responsiveMin(992px){
        &-camera{
          display: inline-block;
          vertical-align: middle;
          width: 60%;
        }
        &-btn{
          display: inline-block;
          vertical-align: middle;
          text-align: center;
          width: 39%;
          #registerByFile{}
          #registerByCapture{}
        }
      }
    }
  }
  .identifier-find{
    &-btn{}
    &-result{}
  }
}